:root {
    --dark-blue: rgb(2,	14,	36);
    --border: lightblue;
}

/* clear/set defaults */
* {
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
}

body {
    background: url(../images/bg.png);
    background-repeat: repeat-x;
    background-color: var(--dark-blue);
    height: 100%;
}

/*main:- center of page*/
main {
     display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin: 50px auto;
    min-width: 50%;
    max-width: 70%;
    position: relative;
    margin-bottom: 150px;
}

.center {
    text-align: center;
}

p ,button{
    font-size: 1.2em;
    font-family: 'Courier New', Courier;
    text-align: center;
}

/*overlay at the start of the game */
#overlay {
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background: url(../images/bg.png) repeat-x;
    
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    z-index: 1;
}

#instructions {
    display:none;
}

#leader-board {
    display:none;
}

#outer-container {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    top: 0;
    margin: 10px 10px;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 30px;
    background-color: var(--dark-blue);
    padding: 50px;
    height: 70vh;
    width: 60vw;
    z-index: 5;
}

#outer-container h2 {
    border-bottom: 2px solid white; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
    height: 85%;
    width: 100%;
    z-index: 1;
    overflow: scroll;
    
}

#done {
    width:50%;
    height: 30px;
    background-size: contain;
    position: absolute;
    bottom: 0;
}

.instrucions-ol li{
    margin-top: 20px;
}
.instrucions-ol ul {
    list-style-type: square;
    margin-left: 20px;
}

.instrucions-ol p{
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
}

#score-list li{
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid white;
    padding: 5px;

}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    width: 100%;
}

/*sign up*/
#sign-up {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 30px;
    background-color: var(--dark-blue);
    padding: 50px;
    height: 70%;
    width: 70%;
    z-index: 5;
}

input {
    background-color: black;
    border: 1px solid var(--border);
}

.inputs-style {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



/*main section*/
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}

/*box for lifelines and prizes*/
.box {
    border: 2px solid var(--border);
    border-radius: 10px;
    width: 200px;
    padding: 5px;
}

/*lifelines buttons*/
.lf-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

#life_lines button{
    background-color: transparent;
    width: 60px;
    height: 50px;
    background-size: contain;
}

#fiftyFifty {
    background: url(../images/50_50_img.png) no-repeat;
     /* Change the image when hovered */
    
}
#fiftyFifty:hover {
    background-image: url(../images/orange_50_50.png);
  }  
#phoneAfriend {
    background: url(../images/phone_a_friend_img.png) no-repeat;  

}  

#phoneAfriend:hover {
    background-image: url(../images/orange_phone_friend.png);
  }  

#askAudience {
    background: url(../images/ask_the_audience_img.png) no-repeat;
   
}  

#askAudience:hover {
    background-image: url(../images/orange_ask_audience.png);
  }  
/*life line results */
/*ask the audience results*/
.grid {
    position: relative;
    display: none;
    grid-template-columns: repeat(8, 20px);  
    grid-template-rows: repeat(10, 20px);
    padding: 5px;
    margin: auto auto;
}

.grid-item {
    border: 1px solid white;
    text-align: center;
}

.bars {
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 10px;
    height: 180px;
    width: 170px;
}

.bars li {
    display: flex;
    justify-self: flex-end;
    align-self: self-end;
    width: 18px;
    height: 0;
    background-color: blueviolet;
    z-index: 0;
}

/* timer and logo */
.timer-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 150px;
    height: 150px;
    background: url(../images/wwtbam_logo.png) no-repeat center center;
    background-size: contain;
}


/*mute and play button and how to play button*/


.mute-play-btn {
    width: 30px;
    height:30px;
    background: url('../images/sound-on.png') no-repeat center;
    background-size: contain;
    background-color: aliceblue;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 4px var(--dark-blue);
}

.menu-btn {
    width: 30px;
    height:30px;
    background: url('../images/menu.png') no-repeat center;
    background-size: contain;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 4px var(--dark-blue);
    background-color: aliceblue;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 4px var(--dark-blue);
}


/*timer*/
#timer {
    width: 80px;
    height: 80px;
    position: relative;
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0  0 10px 10px rgba(248, 248, 249, 0.7);
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: inset 0  0 10px 10px rgba(248, 248, 249);

}

#number {
    font-weight: 900;
    font-size: 30px;
    color: white;
}

circle {    
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 12px;
    stroke-dasharray: 472;
    stroke-dashoffset: 0;  
    stroke-linecap: round;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 110px;
    height: 110px;
    overflow:visible;
    offset: 0%;
}
/*Prizes section*/
#prizes {
    text-align: center;
}

#prizes li {
    background: url(../images/answer_box.png) no-repeat center;
    background-size: contain;
    margin-top: 5px ;
}

#prizes li:nth-child(10), #prizes li:nth-child(1), #prizes li:nth-child(5) {
    background: url(../images/orange_answer_box.png) no-repeat center;
    background-size: contain;
}

/*game.html */
ul {
    list-style: none;
}

.question_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/question_bg.png) no-repeat center;
    background-size:  100% 100%;
    height: fit-content;
    min-height: 100px;
    margin: 20px auto 20px auto;
    text-align: center;
    padding: 10px 20px;
}

#question {
    width: 70%;
}

.answer_btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px auto 10px auto;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    max-width: 100%;
    height: fit-content;
    min-height: 50px;
    background: url(../images/answer_box.png) no-repeat center /cover;
    background-size: 100% 100%;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    padding: 15px 50px;
}

.button:hover {
    background-image: url(../images/orange_answer_box.png);
}

/*pop up window*/
#pop_up {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:var(--dark-blue);
    text-align: center;
    z-index: 3;
}


/*footer:- bottom of page*/
footer {
    background-color: black;
    
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    display: none; /* Initially hide the footer */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid var(--border);
    box-shadow: 6px 6px 6px 10px var(--border);
    text-align: center;
  }

  footer p ,footer a{
    margin: 15px;
  }

@media screen and (max-width: 900px) {
    main {
       max-width: 80%;
   }

    .logo {
    margin: 0 10px;
    }

    .answer_btns {
        flex-direction: column;
        align-items: center;
        margin: 10px 0 10px 0;
        justify-content: center;
    }
    .button {
        width: 100%;
        height: fit-content;
        min-height: 50px;
        margin-top: 10px;
        
    }
  
}

@media screen and (max-width: 650px) {
    main{
        max-width: 100%;
    }

    .logo {
        width: 100px;
        height: 100px;
        
    }

    #prizes li {
        background-size: 100% 20px;
        margin-top: 5px;
    }

    #prizes li:nth-child(10), #prizes li:nth-child(1), #prizes li:nth-child(5) {
        background-size: 100% 20px;
        
    }

  .lf-buttons {
        flex-direction: column;
        align-items: center;
    }

    p {
        font-size: 1em;
    }

/*life line results */
    .grid { 
        grid-template-columns: repeat(4, 20px);  
        grid-template-rows: repeat(10, 20px);
    }

    .bars {
        justify-content: space-evenly;
        width: 90px;
        bottom: 25px;

    }

    .bars li {
        width: 12px;
    }

    /*box for lifelines and prizes*/
    .box {
        width: 100px;
    }

    #pop_up {
        width: 95%;
    }
}