/* clear/set defaults */
* {
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
}


body {
    background: url(../images/background.jpg);
    background-repeat: repeat-x;
    display: flex;
    flex-direction: column;
    background-color: rgb(1, 1, 33, .98);
}

.center {
    text-align: center;
}


/*header:- top of page*/
#logo {
   text-align: center;
   margin: 50px 0 30px 0;
}

#logo img {
    width: 200px;
    height: auto;
}

/*game.html */
ul {
    list-style: none;
    }



/*main:- center of page*/
main {
    margin-bottom: 35px;
}

.question_box {
    background: url(../images/long_q_box.png) no-repeat center;
    background-size:  90% 100px;
    width: 90%;
    height: 150px;
    margin: 20px auto 20px auto;
}

.answer_btns {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 50px;
    background: url(../images/answer_box.png) no-repeat center /cover;
    background-size: 500px 50px;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
}
.button:hover {
    background-image: url(../images/orange_answer_box.png);
}

/*footer:- bottom of page*/
footer {
    background: black;
    height: 110px;
    width: 100%;
}



