/* clear/set defaults */
* {
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
}

body {
    background: url(../images/bg.png);
    background-repeat: repeat-x;
    display: flex;
    flex-direction: column;
}

.center {
    text-align: center;
}


/*header:- top of page*/
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0 30px 0;
}

.box {
    border: 2px solid lightblue;
    border-radius: 10px;
    width: 250px;
    padding: 10px;
    margin: 0 40px 0 40px;
}

#life_lines img {
    width: 80px;
    height: auto;
}

#life_lines button{
    background-color: transparent;
}

#logo img {
    width: 200px;
    height: auto;
}

#prizes {
    text-align: center;
   padding: 20px;
}
#prizes li {
    background: url(../images/answer_box.png) no-repeat center;
    background-size: contain;
    margin: 5px 0 0 5px ;
}


/*game.html */
ul {
    list-style: none;
    }



/*main:- center of page*/
main {
    margin-bottom: 35px;
}

.question_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/question_bg.png) no-repeat center;
    background-size:  90% 100px;
    width: 90%;
    height: 100px;
    margin: 20px auto 20px auto;
    text-align: center;
}

#question {
    width: 70%;
}

.answer_btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px auto 10px auto;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 85%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 50px;
    background: url(../images/answer_box.png) no-repeat center /cover;
    background-size: 95% 50px;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    padding: 0 50px 0 50px;
}
.button:hover {
    background-image: url(../images/orange_answer_box.png);
}

/*footer:- bottom of page*/
footer {
    background: black;
    height: 110px;
    width: 100%;
}



